#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}
.box-icon {
  transition: transform 0.4s;
}
.box-icon:hover {
  background-color: rgba(230, 173, 29, 0.952);
  transform: rotatex(20deg);
}
.box-category {
  transition: transform 0.2s;
}
.box-category:hover {
  background-color: rgba(0, 195, 255, 0.758);
  transform: scale(1.08);
}
